.main-wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: #3ebfff;
}

.logo {
  width: 11rem;
}

.navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 9fr;
  padding: 2rem 1.5rem;
}

.navbar-ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  position: absolute;
  right: 2%;
}

.navbar-li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  transition: all 300ms ease-in-out;
}

.navbar-li > a:hover {
  color: rgb(255, 192, 74);
}

.contact-btn {
  border: none;
  background-color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.contact-btn:hover {
  background-color: rgb(255, 192, 74);
  color: white;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;
}

.main-header > h1 {
  margin: 5rem auto 8rem;
  color: white;
  font-size: 4.7rem;
  letter-spacing: 1rem;
  font-weight: 900;
  text-align: center;
}

.arrow-icon {
  width: 3rem;
}

.mobile-btn {
  display: none;
  position: absolute;
  right: 4%;
}

.mobile-btn > button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

.mobile-nav-icon {
  position: absolute;
  right: 5%;
  top: 17%;
  width: 90%;
  display: none;
}

.bubble-point::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0;
  top: -11%;
  border-left: 15px solid transparent;
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid white;
}

.mobile-nav-bubble {
  background-color: white;
  width: 100%;
  padding: 2rem;
}

.mobile-nav-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.mobile-nav-li > a {
  text-decoration: none;
  color: rgb(129, 125, 125);
  font-size: 1.5rem;
}

.mobile-contact-btn {
  border: none;
  background-color: hsl(51, 100%, 49%);
  padding: 0.8rem 1.4rem;
  border-radius: 5rem;
}

/****************** Media Query ******************/

@media (max-width: 699px) {
  .main-wrapper {
    width: 100vw;
    background-size: auto 100%;
  }

  .arrow-icon {
    min-width: 10vw;
  }

  .navbar-ul {
    display: none;
  }

  .main-header {
    padding: 0 5rem;
  }

  .main-header > h1 {
    margin: 5rem 0 8rem;
    font-size: 10vw;
    letter-spacing: 5px;
  }

  .logo {
    width: 40vw;
  }

  .mobile-btn,
  .mobile-nav-icon {
    display: block;
  }
}
