.testimonials-wrapper {
  width: 100%;
  margin: 8rem auto 8rem;
  overflow: hidden;
}

.testimonials__heading {
  text-align: center;
  margin: 0 auto;
  color: rgb(151, 151, 151);
  letter-spacing: 5px;
  font-size: larger;
}

.testimonial-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.testimonial-card {
  padding: 4rem;
}

.client-img {
  width: 9rem;
  margin: 2rem;
  border-radius: 50%;
}

.client-quote {
  line-height: 1.6;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.client-name {
  margin-bottom: 1rem;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
}

.client-job {
  color: gray;
}

/****************** Media Query ******************/

@media (max-width: 912px) {
  .testimonials__heading {
    font-size: 3.5vw;
    padding: 1rem;
    line-height: 1.7;
  }

  .client-img {
    width: 30vw;
  }

  .testimonial-section {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .client-name {
    font-size: 4vw;
  }

  .client-quote {
    font-size: 3.5vw;
    padding: 0 10vw;
  }

  .client-job {
    font-size: 3vw;
  }
}

@media (max-width: 541px) {
  .testimonial-card {
    padding: 2rem;
  }

  .client-name {
    font-size: 6vw;
  }

  .client-quote {
    font-size: 5vw;
    margin-bottom: 2rem;
  }

  .client-job {
    font-size: 4vw;
  }
}
